<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h1>Welcome!</h1>
			<p>There have been <%= number_with_delimiter(@books_count) %> books added with <%= number_with_delimiter(@pages_count) %> pages.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="portfolio">
		<% @allBooks.each do |a| %>
			<div class="col-xs-2 center-block">
				<div class="caption">
					<%= missing_image(a) %>
			    <div class="caption-text">
		        <strong>Posted by: </strong><%= a.user.user_name %><br />
		        <h4><%= link_to "View Book", book_path(a), class: 'label label-primary' %></h4>
				    <% if user_signed_in? && (a.user.id == current_user.id) %>
							<h4><%= link_to "Edit", edit_book_path(a), class: 'label label-success' %> </h4>
							<h4><%= link_to "Delete", a, method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'label label-danger'%></h4>
						<% end %>
			     </div>
				</div>
		      
		    </div>
		<% end %>
	</div>
</div>
<script>
  $(".caption").hover(function(){
    $(this).find(".caption-text").fadeIn(400);
  }, function(){
    $(this).find(".caption-text").fadeOut(400);
  });
</script>