<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h1>Welcome!</h1>
			<p>There have been <%= number_with_delimiter(@books_count) %> books added with <%= number_with_delimiter(@pages_count) %> pages.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="portfolio">
		<% @allBooks.each do |a| %>
			<div class="col-xs-2 center-block">
				<%= missing_image(a) %>
				<div class="caption well well-sm">
					<strong>Posted by: </strong><%= a.user.user_name %><br />
					<% if user_signed_in? && (a.user.id == current_user.id) %>
          	<%= link_to "Edit", edit_book_path(a) %> <%= link_to "Delete", a, method: :delete, data: { confirm: "Are you sure you want to delete?" } %></li>
          <% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>