<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div class="image-container">
        <%= show_missing_image() %>
       <%#= link_to (image_tag @book.image_link, class: 'center-block thumbnail first-image'), @book.info_link, :target => '_blank' %>
       <%= link_to (image_tag 'google_preview.gif', class: 'second-image'), @book.info_link, :target => '_blank' %>
      
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="well">
        <h1><%= @book.title %> by <%= @book.authors %></h1>
        <ul>
          <li><%= title() %></li>
          <li><%= ratings_count(result=@book) %></li>
           <li><%= page_count(result=@book) %> pages</li>
          <li><%= published_date(result=@book) %></li>
          <li><%= isbn(result=@book) %></li>
        </ul>
        <p><%= description(result=@book) %> </p>
      </div>
      <%= render 'reviews/form' %>
      <ol>
        <% @book.reviews.each do |r| %>
          <div class="well">
            <li>
              <p><%= r.review %></p>
              <p><strong>Posted by: </strong><%= r.user.user_name %> <%=  time_ago_in_words(r.updated_at) %> ago<br />
    					<% if user_signed_in? && (r.user.id == current_user.id) %>
              	<%= link_to "Edit", edit_book_review_path(@book, r) %> <%= link_to "Delete", [@book, r], method: :delete, data: { confirm: "Are you sure you want to delete?" } %></li>
              <% end %></p>
            </li>
          </div>
        <% end %>
      </ol>
    </div>
    <div class="col-md-3 col-xs-offset-1">
      <h1 class="text-center featured">Featured</h1>
        <%#= featured_section() %>
      <% if @random.blank? %>
        <div class="well well-sm">
          <p>Sorry, there are no featured books to display.</p>
        </div>
      <% else %>
        <% @random.each do |a| %>
          <%= missing_image(a) %>
  		  <% end %>
  		<% end %>
    </div>
  </div>
</div>