<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div class="image-container">
       <%= link_to (image_tag @book.image_link, class: 'center-block thumbnail first-image'), @book.info_link, :target => '_blank' %>
       <%= link_to (image_tag 'google_preview.gif', class: 'second-image'), @book.info_link, :target => '_blank' %>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1 well">
      <h1><%= @book.title %> by <%= @book.authors %></h1>
      <ul>
        <li>
          <% if @book.categories.blank? %>
            No Genre is available
          <% else %>
            <%= @book.categories %>
          <% end %>
        </li>
        <li>
          <% if @book.ratings_count.blank? %>
            No Ratings available
          <% else %>
            <%= @book.average_rating %> with 
            <% if @book.ratings_count === 1 %>
              <%= @book.ratings_count %> rating
            <% else %>
              <%= @book.ratings_count %> ratings
            <% end %>
          <% end %>
        </li>
         <li>
          <% if @book.page_count.blank? %>
            No pages are available
          <% else %>
            <%= @book.page_count %> pages
          <% end %>
        </li>
        <li>
          <% if @book.published_date.blank? %>
            No Published Date
          <% else %>
            Published on <%= @book.try(:published_date).try(:strftime, "%m/%d/%Y") %> by <%= @book.publisher %>
          <% end %>
        </li>
        <li>
          <% if @book.isbn.blank? %>
            No ISBN number
          <% else %>
            <%= @book.isbn %>
          <% end %>
        </li>
      </ul>
      <p>
        <% if @book.description.blank? %>
          No description is available
        <% else %>
          <%= @book.description %>
        <% end %>
      </p>
    </div>
    <div class="col-md-3 col-xs-offset-1">
      <h1 class="text-center featured">Featured</h1>
      <% @random.each do |a| %>
			  <%= link_to (image_tag a.image_link, class: 'img-thumbnail image-thumbnail'), book_path(a) %>
		  <% end %>
    </div>
  </div>
</div>