<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="white">General FAQ</h1>
      <div class="faq">
        <%#= link_to "Open All", "#", id: 'openall', class: 'btn btn-primary' %> 
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How do I add a book?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <ol>
                <li>Please sign in or sign up for free now</li>
                <li>In the Search bar, search for a book, and then click on Submit</li>
                <li>Under the Book cover, click Add Book.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingNine">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                How do I add multiple books at the same time?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
              <ol>
                <li>At this time, it's not possible, but will be implemented in the future.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTen">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Website statistics
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
            <div class="panel-body">
              <ol>
                <li>Number of books: <%= pluralize(number_with_delimiter(Book.count), "book") %>.</li>
                <li>Number of pages: <%= pluralize(number_with_delimiter(Book.sum(:page_count)), "page") %>.</li>
                <li>Number of users: <%= pluralize(number_with_delimiter(User.count), "user") %>.</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <h1 class="white">Error Messages</h1>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Error! Book has not been added. Book duplicate?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ol type="a">
                <li>Check to make sure the book you are trying to add as not already been added.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                Error! Did not return any search results.
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                <ol>
                <li>There are two reasons for this error:</li>
                  <ol type="a">
                    <li>Check to make sure the name of the book you're trying to find isn't misspelled.</li>
                    <li>If the title you are trying to find is a valid title, the daily limit provided by Google Books may have been exceeded. Try again tomorrow.</li>
                  </ol>    
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
                Error! The book does not belong to you!
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <ol>
                <li>Check to make sure the book that you are trying to edit or delete is a book that you have added. This error message occurs whenever you trying to edit or delete a book that belong to you.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
                Error! No books have been added.
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              <ol>
                <li>There have been no books added. Consider signing in or signing in to add your own books.</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <h1 class="white">Website FAQ</h1>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Gemfile
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <ol>
                <li><%= link_to "AWS SDK 2.5.0", "https://github.com/aws/aws-sdk-ruby", target: '_blank' %></li>
              	<li><%= link_to "Bootstrap-Sass 3.3.6", "https://github.com/twbs/bootstrap-sass", target: '_blank' %></li>
              	<li><%= link_to "Bootstrap-will_paginate 0.0.10", "https://github.com/yrgoldteeth/bootstrap-will_paginate", target: '_blank' %></li>
              	<li><%= link_to "Byebug 9.0.6", "https://github.com/deivid-rodriguez/byebug", target: '_blank' %></li>
              	<li><%= link_to "Devise 4.0.1", "https://github.com/plataformatec/devise", target: '_blank' %></li>
              	<li><%= link_to "Faker 1.6.5", "https://github.com/stympy/faker", target: '_blank' %></li>
              	<li><%= link_to "Figaro 1.1.1", "https://github.com/laserlemon/figaro", target: '_blank' %></li>
              	<li><%= link_to "Font-Awesome-Rails 4.6.2.0", "https://github.com/FortAwesome/Font-Awesome", target: '_blank' %></li>
              	<li><%= link_to "Git 2.7.3", "https://git-scm.com/", target: '_blank' %></li>
              	<li><%= link_to "Googlebooks 0.0.9", "https://github.com/zeantsoi/GoogleBooks", target: '_blank' %></li>
              	<li><%= link_to "Jbuilder 2.6.0", "https://github.com/rails/jbuilder", target: '_blank' %></li>
              	<li><%= link_to "Jquery-rails 4.2.1", "https://github.com/rails/jquery-rails", target: '_blank' %></li>
              	<li><%= link_to "Paperclip 4.3.6", "https://github.com/thoughtbot/paperclip", target: '_blank' %></li>
              	<li><%= link_to "Pg 0.19", "http://bitbucket.org/ged/ruby-pg/", target: '_blank' %></li>
                <li><%= link_to "Puma 3.3.0", "https://github.com/puma/puma", target: '_blank' %></li>
                <li><%= link_to "Rails 4.2.5.2", "https://github.com/rails/rails", target: '_blank' %></li>
              	<li><%= link_to "Rails_12factor 0.0.3", "https://github.com/heroku/rails_12factor", target: '_blank' %></li>
              	<li><%= link_to "Rails_real_favicon 0.0.5", "https://github.com/RealFaviconGenerator/rails_real_favicon", target: '_blank' %></li>
              	<li><%= link_to "Readmorejs-Rails 0.0.12", "https://github.com/seankay/readmorejs-rails", target: '_blank' %></li>
              	<li><%= link_to "Ruby 2.3.0p2", "https://github.com/ruby/ruby", target: '_blank' %></li>
              	<li><%= link_to "Sass-rails 5.0.6", "https://github.com/rails/sass-rails", target: '_blank' %></li>
              	<li><%= link_to "Seed_dump 3.2.4", "https://github.com/rroblak/seed_dump", target: '_blank' %></li>
              	<li><%= link_to "Spring 2.0.0", "https://github.com/rails/spring", target: '_blank' %></li>
              	<li><%= link_to "Sqlite3 1.3.12", "https://github.com/sparklemotion/sqlite3-ruby", target: '_blank' %></li>
              	<li><%= link_to "Turbolinks 5.0.1", "https://github.com/turbolinks/turbolinks", target: '_blank' %></li>
              	<li><%= link_to "Uglifier 3.0.1", "https://github.com/lautis/uglifier", target: '_blank' %></li>
              	<li><%= link_to "Web-console 2.3.0", "https://github.com/rails/web-console", target: '_blank' %></li>
                <li><%= link_to "Will_paginate 3.1.0", "https://github.com/mislav/will_paginate", target: '_blank' %></li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What is the purpose of this website?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <ol>
              	<li>The purpose of this website is further develop my skills as a Ruby on Rails developer and to showcase written code.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                What are the future developments of this website?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <ol>
                <li>To have an author's page to include, but are not limited to:</li>
                  <ol type="a">
                    <li>One Author per line</li>
                    <li>To have the author’s name clickable to show all books that the author has written</li>
                    <li>Alphabetized by letter</li>
                  </ol>
                <li>To have a genre's page to include, but are not limited to:</li>
                  <ol type="a">
      	            <li>To have the genre's clickable to show all books with that genre</li>
      	            <li>Alphabetized by letter</li>
                  </ol>
                <li>For the Search page:</li>
                  <ol type="a">
                    <li>The ability to add multiple books at the same time</li>
                    <li>A filter to include, but are not limited to:</li>
                      <ol type="i">
                        <li>Category</li>
                        <li>Author</li>
                        <li>Date</li>
                        <li>Ratings</li>
                        <li>Number of pages</li>
                      </ol>
                    <li>More book results with pagination</li>
                  </ol>
                  <li>A profile page for each user.</li>
                  <ol type="a">
                    <li>A page showing all books a user has added.</li>
                    <li>Either select one or all of the user's books to delete.</li>
                    <li>Personal statistics on the user to include, but are not limited to:
                    <ol type="i">
                      <li>When the user joined</li>
                      <li>How many books they have added</li>
                      <li>How many total reviews they have added</li>
                    </ol>
                  </ol>
                <li>A filter to show books who do and do not have a review</li>
                <li>An advanced search function to include, but not limited to:</li>
                  <ol type="a">
                    <li>Only show free ebooks</li>
                    <li>Only show paid ebooks</li>
                    <li>Only show books that are downloadable</li>
                  </ol>
                <li>When a user who is not logged in and tries to add a book it redirects to the homepage without adding the book. Fix it to where it adds the book whenever they sign in or create an account</li>
                <li>A link to reset the password</li>
                <li>A contact form to send improvements or bugs</li>
                <li>A confirmation page to activate the user profile</li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- End Accordion -->
    </div>
  <div>
</div>