<!DOCTYPE html>
<html>
<head>
  <title>Book Review</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render '/layouts/nav' %>
<<<<<<< HEAD
  <%= yield %>
=======
  <div class="container">
	 <div class="row">
		  <div class="col-md-8 offset-md-4">
				<div class="well">
 					<%= yield %>
 				</div>
		  </div>
	 </div>
</div>
>>>>>>> 551cff8cdcff59ce8f2325e0513d65396f657fdf

</body>
</html>
